
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Updater.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Updater.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Permissions.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Permissions.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Loader.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Loader.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Events.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Events.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.CustomItems.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.CustomItems.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.CreditTags.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.CreditTags.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Bootstrap.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.Bootstrap.dll
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.API.xml
packages/EXILED.3.0.0-alpha.80/lib/net472/Exiled.API.dll
packages/EXILED.3.0.0-alpha.80/images/Exiled_Icon.jpg
packages/EXILED.3.0.0-alpha.80/EXILED.3.0.0-alpha.80.nupkg
packages/EXILED.3.0.0-alpha.80/.signature.p7s
obj/Release/ScpLockdown.pdb
obj/Release/ScpLockdown.dll
obj/Release/SCPLockdown.csprojAssemblyReference.cache
obj/Release/SCPLockdown.csproj.FileListAbsolute.txt
obj/Release/SCPLockdown.csproj.CoreCompileInputs.cache
obj/Release/SCPLockdown.csproj.CopyComplete
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
bin/Release/zxing.unity.dll
bin/Release/YamlDotNet.dll
bin/Release/UnityEngine.XRModule.dll
bin/Release/UnityEngine.WindModule.dll
bin/Release/UnityEngine.VRModule.dll
bin/Release/UnityEngine.VideoModule.dll
bin/Release/UnityEngine.VFXModule.dll
bin/Release/UnityEngine.VehiclesModule.dll
bin/Release/UnityEngine.UnityWebRequestWWWModule.dll
bin/Release/UnityEngine.UnityWebRequestTextureModule.dll
bin/Release/UnityEngine.UnityWebRequestModule.dll
bin/Release/UnityEngine.UnityWebRequestAudioModule.dll
bin/Release/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Release/UnityEngine.UnityTestProtocolModule.dll
bin/Release/UnityEngine.UnityConnectModule.dll
bin/Release/UnityEngine.UnityAnalyticsModule.dll
bin/Release/UnityEngine.UNETModule.dll
bin/Release/UnityEngine.UmbraModule.dll
bin/Release/UnityEngine.UIModule.dll
bin/Release/UnityEngine.UIElementsModule.dll
bin/Release/UnityEngine.UI.dll
bin/Release/UnityEngine.TLSModule.dll
bin/Release/UnityEngine.TilemapModule.dll
bin/Release/UnityEngine.TextRenderingModule.dll
bin/Release/UnityEngine.TextCoreModule.dll
bin/Release/UnityEngine.TerrainPhysicsModule.dll
bin/Release/UnityEngine.TerrainModule.dll
bin/Release/UnityEngine.SubsystemsModule.dll
bin/Release/UnityEngine.SubstanceModule.dll
bin/Release/UnityEngine.StreamingModule.dll
bin/Release/UnityEngine.SpriteShapeModule.dll
bin/Release/UnityEngine.SpriteMaskModule.dll
bin/Release/UnityEngine.SharedInternalsModule.dll
bin/Release/UnityEngine.ScreenCaptureModule.dll
bin/Release/UnityEngine.ProfilerModule.dll
bin/Release/UnityEngine.PhysicsModule.dll
bin/Release/UnityEngine.Physics2DModule.dll
bin/Release/UnityEngine.PerformanceReportingModule.dll
bin/Release/UnityEngine.ParticleSystemModule.dll
bin/Release/UnityEngine.LocalizationModule.dll
bin/Release/UnityEngine.JSONSerializeModule.dll
bin/Release/UnityEngine.InputModule.dll
bin/Release/UnityEngine.InputLegacyModule.dll
bin/Release/UnityEngine.IMGUIModule.dll
bin/Release/UnityEngine.ImageConversionModule.dll
bin/Release/UnityEngine.HotReloadModule.dll
bin/Release/UnityEngine.GridModule.dll
bin/Release/UnityEngine.GameCenterModule.dll
bin/Release/UnityEngine.DSPGraphModule.dll
bin/Release/UnityEngine.dll
bin/Release/UnityEngine.DirectorModule.dll
bin/Release/UnityEngine.CrashReportingModule.dll
bin/Release/UnityEngine.CoreModule.dll
bin/Release/UnityEngine.ClusterRendererModule.dll
bin/Release/UnityEngine.ClusterInputModule.dll
bin/Release/UnityEngine.ClothModule.dll
bin/Release/UnityEngine.AudioModule.dll
bin/Release/UnityEngine.AssetBundleModule.dll
bin/Release/UnityEngine.AnimationModule.dll
bin/Release/UnityEngine.AndroidJNIModule.dll
bin/Release/UnityEngine.AIModule.dll
bin/Release/UnityEngine.AccessibilityModule.dll
bin/Release/Unity.TextMeshPro.dll
bin/Release/Unity.Mathematics.dll
bin/Release/Telepathy.dll
bin/Release/System.ServiceModel.Internals.dll
bin/Release/System.Runtime.CompilerServices.Unsafe.dll
bin/Release/System.Numerics.Vectors.dll
bin/Release/System.Memory.dll
bin/Release/System.Buffers.dll
bin/Release/SemVer.dll
bin/Release/ScpLockdown.pdb
bin/Release/ScpLockdown.dll.config
bin/Release/ScpLockdown.dll
bin/Release/Novell.Directory.Ldap.dll
bin/Release/NorthwoodLib.dll
bin/Release/Mono.WebBrowser.dll
bin/Release/Mono.Security.dll
bin/Release/Mono.Posix.dll
bin/Release/Mono.Nat.dll
bin/Release/Mono.Data.Sqlite.dll
bin/Release/Mono.CecilX.Rocks.dll
bin/Release/Mono.CecilX.Pdb.dll
bin/Release/Mono.CecilX.Mdb.dll
bin/Release/Mono.CecilX.dll
bin/Release/Mirror.dll
bin/Release/Mirror.Components.dll
bin/Release/Mirror.Authenticators.dll
bin/Release/Facepunch.Steamworks.Posix.dll
bin/Release/Exiled.Updater.xml
bin/Release/Exiled.Updater.dll
bin/Release/Exiled.Permissions.xml
bin/Release/Exiled.Permissions.dll
bin/Release/Exiled.Loader.xml
bin/Release/Exiled.Loader.dll
bin/Release/Exiled.Events.xml
bin/Release/Exiled.Events.dll
bin/Release/Exiled.CustomItems.xml
bin/Release/Exiled.CustomItems.dll
bin/Release/Exiled.CreditTags.xml
bin/Release/Exiled.CreditTags.dll
bin/Release/Exiled.Bootstrap.xml
bin/Release/Exiled.Bootstrap.dll
bin/Release/Exiled.API.xml
bin/Release/Exiled.API.dll
bin/Release/DissonanceVoip.dll
bin/Release/CommandSystem.Core.dll
bin/Release/CloudflareSolverRe.dll
bin/Release/ch.sycoforge.Unity.Runtime.dll
bin/Release/ch.sycoforge.Logging.dll
bin/Release/ch.sycoforge.Decal.dll
bin/Release/BouncyCastle.Crypto.dll
bin/Release/Assembly-CSharp-Publicized.dll
bin/Release/Assembly-CSharp-firstpass.dll
.vs/SCPLockdown/v16/.suo
.vs/SCPLockdown/v16/.suo
.vs/SCPLockdown/v16/.suo
.vs/SCPLockdown/v16/.suo
*.xml
*.cache
*.dll
*.jpg
*.p7s
*.nupkg
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/SCPLockdown.csproj.FileListAbsolute.txt
*.json
.vs/SCPLockdown/v17/.suo
